<h1>Update Owner</h1>
<h2>Edits for <%= @owner.name %></h2>
<form action="/owners/<%= @owner.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> Edit the owner's name:</label>
  <br>
  <input type="text" name="owner[name]" value="<%= @owner.name %>">
  <br>
  <p>Select an existing pet, or create a new one, below</p>
  <h3>Existing Pets</h3>
  <% @pets.each do |p| %>
    

    <input type="checkbox" name="owner[pet_ids][]" id="<%= p.id %>" value="<%= p.id %>" 
    <%='checked' if @owner.pets.include?(p) %>><%= p.name %>
    
    <br>
  <% end%>

  <h3>New Pet</h3>
  <label>Pet name: </label>
  <br>
  <input type="text" name="pet[name]" id="pet_name">
  <br>
  <input type="submit" value="Update Owner">
  </form>